@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'TT Lakes';
  margin: 0;
  padding: 0;
}


.repair-brands {
  max-width: 320px;
  background-color: #F2F2F2;
  margin: 0 auto;
}

.repair-brands__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  padding: 16px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.brands-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 16px;
}

.brands-link {
  display: flex;
  align-items: center;
  width: 240px;
  height: 72px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: #FFFFFF;
  background-image: url(../img/circle-arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 184px center;
  padding: 20px 16px;
}

.repair-brands__show-btn {
  display: none;
}

.swiper {
  padding-bottom: 28px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #DDDDDD;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
}




/* !-----------------------------768px------------------------------------------------ */
@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }

  .swiper {
    margin: 0;
    padding: 0;

  }

  .repair-brands {
    max-width: 768px;
    background-color: #F2F2F2;
    margin: 0 auto;
    padding-bottom: 34px;
  }

  .repair-brands__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    padding: 16px 24px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  }

  .brands-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
    padding: 24px;
    max-height: 150px;
    overflow: hidden;
  }

  .brands-link {
    display: block;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 224px;
    height: 72px;
    background-image: url(../img/circle-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: 168px center;
    padding: 20px 16px;
  }

  .repair-brands__show-btn {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    border: none;
    background-color: inherit;
    gap: 8px;
    margin-left: 24px;
  }
}

/* ! --------------------------1120px--------------------------------- */
@media (min-width: 1120px) {
  .repair-brands {
    max-width: 1120px;
  }

  .repair-brands__title {
    padding: 16px 32px;
  }

  .brands-list {
    column-gap: 32px;
    padding: 24px 32px;


  }

  .brands-link {
    display: block;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    background-image: url(../img/circle-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: 184px center;
    padding: 24px 16px;
  }

  .repair-brands__show-btn {
    margin-left: 32px;
  }

}